body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
header{
  background:url(img1.jpg);
  width: 1400px;
  height: 672px;
  color: white;
  margin: -21px auto 0 auto;
}
footer{
  background: url(img3.jpg);
  width: 1400px;
  height: 230px;
  margin: 0 auto;
  padding: 90px 0 0 0;
}
.tx{
  width: 870px;
  margin: 205px auto 0 auto;
}
.nav{
  margin: 0 auto ;
  display: flex;
  width: 1200px;
  height: 560px;
}
.zagolovok{
  text-align: center;
}
.text{
  margin: 0 0 0 80px;
  color: rgb(189, 189, 189);
}
.gl{
  display: flex;
  align-items: center;
  width: 870px;
  height: 100px;
  margin: 0 auto;
}
.ou{
  width: 800px;
  height: 400px;
  margin: 0 0 0 0;
}
.imggg{
  display: flex;
  justify-content: right;
  flex-direction: column;
  width: 400px;
  height: auto;
  margin: 0 0 0 25px;
}
.nav_img{
  width: 435px;
  height: 250px;
}
.ou_img{
  width: 565px;
  height: 350px;
  margin: 0 0 0 165px;
}
.lr{
  text-align: center;
  align-items: center;
}
.footer_block{
  display: flex;
  width: 100px;
  height: 30px;
  margin: 0 auto 25px auto;
  padding: 0 0 0 20px;
  align-items: center;
  border: solid 1px #fff;
  font-size: 18px;
  border-radius: 0 0 0 0;
}
.footer_p{
  display: flex;
  justify-content: center;
}