body {
  font-family: Arial, sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
  text-align: center;
}
header {
  background-color:gray ;
  color: white;
  padding: 20px;
}
h1 {
  margin: 0;
}
img {
  max-width: 100%;
  height: auto;
}
.content {
  padding: 20px;
}
.content img {
  width: 300px;
  border-radius: 8px;
}
.content p {
  font-size: 18px;
  line-height: 1.6;
  text-align: left;
  max-width: 800px;
  margin: 20px auto;
}
footer {
  background-color: gray;
  color: white;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
}
footer a {
  color: white;
}